<h2>記事一覧</h2>
<% @pictures.each do |picture| %>
  <P><%= picture.title %></P>
  <P><img src="<%= picture.image %>" ></P>
  <p><%= picture.content %></p>
  <%= link_to  "投稿を編集する", edit_picture_path(picture.id) %>
  <%= link_to  "投稿を削除する", picture_path(picture),method: :delete %>
<% end %>
<br>
<hr>
<%= link_to "新規投稿" ,new_picture_path %>
