<!DOCTYPE html>
<html>
<head>
  <title>Instamodoki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <p><%= notice %></p>
  <h1 class="fl">インスタもどき</h1>
  <form class="" action="index.html" method="post">

  </form>
  <ul class="fr block">
    <li>safali</li>
    <li>heart</li>
    <li>person</li>
  </ul>
  <ul class="login">
    <% if user_signed_in? %>
    <li><%= link_to 'マイページ', edit_user_registration_path %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'ログイン', new_user_session_path %></li>
    <li><%= link_to 'サインイン', new_user_registration_path %></li>
    <% end %>
  </ul>
</header>
<%= yield %>

</body>
</html>
